SUPABASE_URL='https://ynuyxxutjdefmqjanpjj.supabase.co'
SUPABASE_PUBLIC_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InludXl4eHV0amRlZm1xamFucGpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg1MTQ4MzQsImV4cCI6MjA5NDA5MDgzNH0.iVZydUX8X2DuXE7IUM50f-UVO5KEx2uFuzLVM5Lo8x4'

JWT_SECRET_KEY='c60225086a193d719299d2861271a302a4fdc2f2d44b85861fee8ff1f3ee1fe6'

PORT=8080